<p id="notice"><%= notice %></p>
<h1>Example</h1>
<div class="content-example">
  <%= render 'newsletters/email' %>
</div>

<div class="row">
  <div class="large-6 column">
    <h2>Schedules</h2>
    <% @events.each do |event| %>
      <div class="row">
        <%= event %>
      </div>
    <% end %>
    <%= link_to 'New Schedule', new_newsletter_event_path(@newsletter), :class => 'button small' %>
  </div>
  <div class="large-6 column">
    <h2>Photos</h2>
    <%= link_to 'New Photo', new_newsletter_photo_path(@newsletter), :class => 'button small' %>
  </div>
</div>


<h1>Code</h1>
<p>Copy and paste the content below</p>
<div class="content-code">
  <textarea name="" id="" cols="30" rows="10">
    <%= render 'newsletters/email' %>
  </textarea>
</div>

<div class="content-action">
  <%= link_to 'Edit', edit_newsletter_path(@newsletter), :class => 'button small secondary' %>
  <%= link_to 'Back', newsletters_path, :class => 'button small secondary' %>
</div>
