<p id="notice"><%= notice %></p>

<h1>Example</h1>

<h1>Code</h1>

<p>
  <strong>Title:</strong>
  <%= @newsletter.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @newsletter.message %>
</p>

<p>
  <strong>Schedules:</strong>
  <%= @newsletter.schedules %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @newsletter.photos %>
</p>

<%= link_to 'Edit', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Back', newsletters_path %>
