<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @event.datetime %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event.notes %>
</p>

<%= link_to 'Edit', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Back', newsletter_path(@newsletter) %>
